.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
.all{
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue; 
}
.icon{
    color: antiquewhite;
    size: 2em;
}
.main{
    width: 500px;
    height: 100px;
    background: white;
    padding: 35px;
    border-radius: 20px;
    transition: 0.6s ease-out;
}
.search{
    justify-content: center;
    align-items: center;
}
#search-button{
    cursor: pointer;
    font-size: 2em;
    color:#223a3a;
}
#search-input{
    background: white;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    color:#223a3a;
}
#search-input::placeholder{
    background: white;
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    color: #223a3a;
}
.weather-main{
    text-align: center;
}
.weather-main img{
    width: 50%;
    margin-top: 20px;
}
.temperature{
    position: relative;
    color: #223a3a;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}
.temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}
.details{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}
.weather-additional{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity, .wind, .real-feel{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
    padding-bottom: 30px;
    padding-left: 20px; 
}
.weather-additional .icon{
    color: #223a3a;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}
.weather-additional span{
    color: #223a3a;
    font-size: 22px;
    font-weight: 500;
}
.weather-additional p{
    color: #223a3a;
    font-size: 14px;
    font-weight: 500;
}
.error{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    scale: 0;
    opacity: 0;
    display: none;
}
.error img{
    width: 50%;
}
.error p{
    color: #223a3a;
    font-size: 25px;
    font-weight: 500;
    margin-top: 10px;
}
.weather-main, .weather-additional{
    scale: 0;
    opacity: 0;
}
.fadeIn{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}
@keyframes fadeIn{
    to {
        scale: 1;
        opacity: 1;
    }
}
.fadeInSearch{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}
@keyframes fadeInSearch{
    to {
        background-color: darkorange;
    }
}